<div class="create_bill_page">
  <div class="login-form">
    <%= form_for :bill, url: bills_path do |f| %>

      <h2 class="text-center">Create Bill</h2>   
      <div class="form-group">
        <div class="input-group">
          <%= f.text_field :bill_to, class: "form-control", required: true, placeholder:"Customer Name" %>    
        </div>
      </div>

      <div class="item_header_cntr"> 
        <div class="col-md-6 item_header">Item Name</div>
        <div class="col-md-2 item_header">Item Price</div>
        <div class="col-md-2 item_header">Quantity</div>
        <div class="col-md-2 item_header">Total</div>
        <div class="cb"></div>
      </div>
      <div class="bill_item row">
        <div class="form-group col-md-6">
          <div class="input-group">
            <%#= bill_item.select("item_id[]", @items.present? ? Item.all.collect {|u| [u.name, u.id, {'data-price' => u.price}]} : "", {:include_blank => "- Select Item -"}, {class: "form-control select_item", id: ""}) %>
            <%= select_tag 'item_id[]', options_for_select(Item.all.collect{ |u| [u.name, u.id, {'data-price' => u.price}] }), {prompt: "- Select Item -", class: "form-control select_item", id: "", required: true} %>
          </div>
        </div>
        <div class="col-md-2">
          <p class="item_amount">0.00</p>
        </div>
        <div class="form-group col-md-2">
          <div class="input-group">
            <%= text_field_tag "quantity[]","", class: "form-control numbers_only item_qty", required: true, placeholder: "Quantity", id:"", maxlength: "3" %>
          </div>
        </div>
        <div class="col-md-2">
          <p class="amount">0.00</p>
        </div>
        <div class="cb"></div>

        <div class="remove"></div>
      </div>  
      <%= link_to "+ Add Item", "javascript:void(0)", class: "add_item"%>
      <div class="total_amount_sec">
        <div><span class="calc">Total: </span><span class="total_amount">0.00</span></div>
        <div><span class="calc">Net Amount(Total + Tax): </span><span class="net_amount">0.00</span></div>
      </div>
      <div class="form-group">
        <%= f.submit "Save", :class => "btn btn-primary login-btn btn-block" %>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  $(document).on("click",function() {
    $(".numbers_only").keydown(function (e) {
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 || (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || (e.keyCode >= 35 && e.keyCode <= 40)) {
          return;
      }
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
      }
    });
  });




  $(document).on("click", ".button-remove", function() {
    $(this).closest(".box").remove();
  });
  $(document).on("click", ".add_item", function() {
    var obj = $('.bill_item:first').clone().insertAfter(".bill_item:last");
    obj.find(".form-control").val("");
    obj.find(".remove").html("<a href='javascript:void(0)' class='remove_item'>x</a>");
  });
  $(document).on("click", ".remove_item", function() {
    $(this).closest(".bill_item").remove();
    calculateTotalAmount();
  });
  $(document).on("click", function() {
    
    $(".select_item").on('change', function(){
      // var val = $(this).val();
      // var set_null = false;
      // $(".select_item").each(function() {
      //   console.log($(this).val());
      //   if( val == $(this).val() ){
      //     set_null = true;
      //   }
      // })
      // if(set_null == true){
      //   $(this).val("");
      //   return;
      // }
      var price = $(this).find(":selected").data("price");
      if($.type(price) === "undefined"){
        price = "0.0";
      }
      var quantity = $(this).closest(".bill_item").find(".item_qty").val();
      if(quantity == ""){
        quantity = 0;
      }
      quantity = parseInt(quantity);
      price = parseFloat(price).toFixed(2);
      // console.log(price);
      $(this).closest(".bill_item").find(".item_amount").text(price);
      total_amount = (price * quantity).toFixed(2)
      $(this).closest(".bill_item").find(".amount").text(total_amount);
      calculateTotalAmount();
    })

    $(".item_qty").keyup(function (e) {
      var quantity = $(this).val();
      if(quantity == ""){
        quantity = 0;
      }
      var price = $(this).closest(".bill_item").find(".item_amount").text();
      quantity = parseInt(quantity);
      price = parseFloat(price).toFixed(2);
      total_amount = (price * quantity).toFixed(2)
      $(this).closest(".bill_item").find(".amount").text(total_amount);
      calculateTotalAmount();
    });

    function calculateTotalAmount(){
      var total_amount = 0;
      var net_amount = 0;
      $(".bill_item").each(function( index ) {
        var price = parseFloat( $(this).find(".item_amount").text() );
        var quantity = $(this).find(".item_qty").val();
        if(quantity == ""){
          quantity = 0;
        }
        parseInt( quantity );
        total_amount = total_amount + (price * quantity);
      });
      net_amount = total_amount + (total_amount * 0.15);
      $(".total_amount").text(total_amount.toFixed(2));
      $(".net_amount").text(net_amount.toFixed(2));
    }
    
  });



</script>
